<body style="background-color: lightsteelblue">
    <h1 style ="text-align:center;" class="pageheader">Upload contract</h1>
    <!--Form that performs the upload contract action found in home controller-->
    <form asp-action="UploadContract" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload Contract</button>
    </form>
</body>
