<body style="background-color: lightsteelblue">
    <h1 style="text-align:center;" class="pageheader">Process orders</h1>
    <!--Form that performs the ProcessOrder action found in home controller-->
    <form asp-action="ProcessOrder" method="post">
        <input type="text" name="orderID" placeholder="Order ID" />
        <button type="submit">Process Order</button>
    </form>
</body>