<body style="background-color: lightsteelblue">
    <h1 style="text-align:center;" class="pageheader">Add product images below</h1>
    <!--Form that performs the UploadImage action found in home controller-->
    <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload Product Image</button>
    </form>
</body>
